## Scarping으로 모아온 데이터 정리

In [2]:
import pandas as pd
import numpy as np
import os
import re
from hanspell import spell_checker
import kss

In [17]:
aa = pd.read_excel('gigawan_validation_kk.xlsx',index_col=0)
bb = pd.read_excel('chaeyong_validation_kk.xlsx',index_col=0)
cc = pd.read_excel('haksa_validation_kk.xlsx',index_col=0)
dd = pd.read_excel('janghak_validation_kk.xlsx',index_col=0)

In [8]:
aa.columns

Index([0, 1, '대학생', '대학원생', '교직원', '교수', '일반인', '합계', '비고'], dtype='object')

In [9]:
### 대학생, 대학원생, 교직원,  교수, 일반인, 합계

In [18]:
print(aa.shape[0])
print(aa.대학생.sum())
print(aa.대학원생.sum())
print(aa.교직원.sum())
print(aa.교수.sum())
print(aa.일반인.sum())
print(aa[aa.합계>1].shape[0])

40
33
22
12
10
14
25

In [19]:
print(bb.shape[0])
print(bb.대학생.sum())
print(bb.대학원생.sum())
print(bb.교직원.sum())
print(bb.교수.sum())
print(bb.일반인.sum())
print(bb[bb.합계>1].shape[0])

26
0
0
0
0
26
0

In [20]:
print(cc.shape[0])
print(cc.대학생.sum())
print(cc.대학원생.sum())
print(cc.교직원.sum())
print(cc.교수.sum())
print(cc.일반인.sum())
print(cc[cc.합계>1].shape[0])

14
14
2
1
1
1
2

In [21]:
print(dd.shape[0])
print(dd.대학생.sum())
print(dd.대학원생.sum())
print(dd.교직원.sum())
print(dd.교수.sum())
print(dd.일반인.sum())
print(dd[dd.합계>1].shape[0])

12
12
0
0
0
0
0

In [22]:
ee.columns

NameError: name 'ee' is not defined

In [23]:
print(ee.shape[0])
print(ee.대학생.sum())
print(ee.대학원생.sum())
print(ee.교직원.sum())
print(ee['교수 '].sum())
print(ee.일반인.sum())
print(ee[ee['합계 ']>1].shape[0])

NameError: name 'ee' is not defined

In [24]:
print(aa[aa.비고 =='이미지'].shape[0])
# print(bb[bb.비고 =='이미지'].shape[0])
print(cc[cc.비고 =='이미지'].shape[0])
# print(dd[dd.비고 =='이미지'].shape[0])
# print(ee[ee.비고 =='이미지'].shape[0])

0
0

In [14]:
strings = aa.context[0]

In [50]:
def SC_clean(data):
    '''
    특수문자(Speical Characters) 삭제
    '''
    check_strings = re.compile('[^ ㄱ-ㅣ가-힣 | 0-9]+')
    jungli = check_strings.sub('',data)
    jungli = jungli.replace('|',' ')
    return jungli

In [29]:
test_sent = SC_clean(strings)

In [30]:
test_sent

' 교섭요구 노동조합의 확정 공고   노동조합 및 노동관계조정법 시행령 제14조의5 제1항의 규정에 따라 2021 2 15  2 22 교섭요구 사실에 대한 공고기간 중 경상대학교에 교섭을 요구한 노동조합에 대하여 아래와 같이 공고합니다   공고기간 2021 2 23  2021 2 27 5일간  교섭을 요구한 노동조합의 명칭  한국비정규교수노동조합 경상대분회  그 대표자  한국비정규교수노동조합 경상대분회장 최승제  교섭 요구일자  2021 2 10수  조합원수교섭요구일 현재  70명  공고내용이 노동조합이 제출한 내용과 다르게 공고되거나 공고되지 않은 경우에는 공고기간 중에 교무과로 이의신청하여 주시기 바랍니다    2021 2 23   경 상 대 학 교 총 장'

In [31]:
non_number = ''
for i in test_sent.split(' '):
    if re.search('\d',i) ==None:
        non_number = non_number + ' ' + i
non_number = non_number.strip()

In [32]:
result = spell_checker.check(non_number)
result.as_dict()

{'result': True,
 'original': '교섭요구 노동조합의 확정 공고   노동조합 및 노동관계조정법 시행령 규정에 따라  교섭요구 사실에 대한 공고기간 중 경상대학교에 교섭을 요구한 노동조합에 대하여 아래와 같이 공고합니다   공고기간   교섭을 요구한 노동조합의 명칭  한국비정규교수노동조합 경상대분회  그 대표자  한국비정규교수노동조합 경상대분회장 최승제  교섭 요구일자   조합원수교섭요구일 현재   공고내용이 노동조합이 제출한 내용과 다르게 공고되거나 공고되지 않은 경우에는 공고기간 중에 교무과로 이의신청하여 주시기 바랍니다      경 상 대 학 교 총 장',
 'checked': '교섭요구 노동조합의 확정 공고   노동조합 및 노동관계조정법 시행령 규정에 따라  교섭요구 사실에 대한 공고기간 중 경상대학교에 교섭을 요구한 노동조합에 대하여 아래와 같이 공고합니다   공고기간   교섭을 요구한 노동조합의 명칭  한국비정규교수 노동조합 경상대 분회  그 대표자  한국비정규교수 노동조합 경상 대분회장 최승재  교섭 요구 일자   조합원 수 교섭요구일 현재   공고 내용이 노동조합이 제출한 내용과 다르게 공고되거나 공고되지 않은 경우에는 공고기간 중에 교무과로 이의신청하여 주시기 바랍니다      경 상 대 학 교 총 장',
 'errors': 8,
 'words': OrderedDict([('교섭요구', 0),
              ('노동조합의', 0),
              ('확정', 0),
              ('공고', 2),
              ('', 0),
              ('노동조합', 2),
              ('및', 0),
              ('노동관계조정법', 0),
              ('시행령', 0),
              ('규정에', 0),
              ('따라', 0),
              ('사실에', 0),
              ('대한', 0),
              ('공고기간', 0),
              ('중', 0),
              ('경상대학교에', 0),
              ('교섭을', 0),
              ('요구한', 0),
              ('노동조합에', 0),
              ('대하여', 0),
              ('아래와', 0),
              ('같이', 0),
              ('공고합니다', 0),
              ('명칭', 0),
              ('한국비정규교수', 2),
              ('경상대', 2),
              ('분회', 2),
              ('그', 0),
              ('대표자', 0),
              ('경상', 2),
              ('대분회장', 2),
              ('최승재', 4),
              ('교섭', 0),
              ('요구', 2),
              ('일자', 2),
              ('조합원', 2),
              ('수', 2),
              ('교섭요구일', 2),
              ('현재', 0),
              ('내용이', 2),
              ('노동조합이', 0),
              ('제출한', 0),
              ('내용과', 0),
              ('다르게', 0),
              ('공고되거나', 0),
              ('공고되지', 0),
              ('않은', 0),
              ('경우에는', 0),
              ('중에', 0),
              ('교무과로', 0),
              ('이의신청하여', 0),
              ('주시기', 0),
              ('바랍니다', 0),
              ('경', 0),
              ('상', 0),
              ('대', 0),
              ('학', 0),
              ('교', 0),
              ('총', 0),
              ('장', 0)]),
 'time': 0.1742095947265625}

In [33]:
cleaning_sentence = result.checked

In [39]:
test_strings = ''
for sent in kss.split_sentences(cleaning_sentence):
    test_strings = test_strings + ' ' + sent
test_strings = test_strings.strip()

In [40]:
test_strings

'교섭요구 노동조합의 확정 공고 노동조합 및 노동관계조정법 시행령 규정에 따라 교섭요구 사실에 대한 공고기간 중 경상대학교에 교섭을 요구한 노동조합에 대하여 아래와 같이 공고합니다 공고기간 교섭을 요구한 노동조합의 명칭 한국비정규교수 노동조합 경상대 분회 그 대표자 한국비정규교수 노동조합 경상 대분회장 최승재 교섭 요구 일자 조합원 수 교섭요구일 현재 공고 내용이 노동조합이 제출한 내용과 다르게 공고되거나 공고되지 않은 경우에는 공고기간 중에 교무과로 이의신청하여 주시기 바랍니다 경 상 대 학 교 총 장'

In [88]:
from tqdm.notebook import tqdm

## 네이버 맞춤법검사기로 오탈자 확인 및 변경

In [315]:
lst = []
for i in tqdm(ee.title):
    if pd.isna(i) == True:
        lst.append('')
        pass
    else:
        test_sent = SC_clean(i)
        non_number = ''
    for j in test_sent.split(' '):
        if re.search('\d',j) == None:
            non_number = non_number + ' ' + j
    non_number = non_number.strip()
    ### 500자 제한 문제
    strings = ''
    for counting_num in kss.split_sentences(non_number):
        if len(counting_num) >499:
            interval_num = round(len(counting_num.split(' '))/2)
            a = ' '.join(counting_num.split(' ')[:interval_num])
            b = ' '.join(counting_num.split(' ')[interval_num:])
            result_a = spell_checker.check(a)
            result_b = spell_checker.check(b)
            strings = result_a.checked + ' ' + result_b.checked
        else:
            result = spell_checker.check(counting_num)
            strings = strings +' '+ result.checked
    
    cleaning_sentence = strings.strip()
    test_strings = ''
    for sent in kss.split_sentences(cleaning_sentence):
        test_strings = test_strings + ' ' + sent
    test_strings = test_strings.strip()
    lst.append(test_strings)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=234.0), HTML(value='')))

In [316]:
lst2 = []
for i in tqdm(ee.context):
    if pd.isna(i) == True:
        lst.append('')
        pass
    else:
        test_sent = SC_clean(i)
        non_number = ''
    for j in test_sent.split(' '):
        if re.search('\d',j) == None:
            non_number = non_number + ' ' + j
    non_number = non_number.strip()
    ### 500자 제한 문제
    strings = ''
    for counting_num in kss.split_sentences(non_number):
        if len(counting_num) >499:
            interval_num = round(len(counting_num.split(' '))/2)
            a = ' '.join(counting_num.split(' ')[:interval_num])
            b = ' '.join(counting_num.split(' ')[interval_num:])
            result_a = spell_checker.check(a)
            result_b = spell_checker.check(b)
            strings = result_a.checked + ' ' + result_b.checked
        else:
            result = spell_checker.check(counting_num)
            strings = strings +' '+ result.checked
    
    cleaning_sentence = strings.strip()
    test_strings = ''
    for sent in kss.split_sentences(cleaning_sentence):
        test_strings = test_strings + ' ' + sent
    test_strings = test_strings.strip()
    lst2.append(test_strings)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=234.0), HTML(value='')))

In [317]:
df_training = pd.DataFrame([lst,lst2]).T

In [337]:
ee.iloc[:,6:11]

     대학생  대학원생  교직원  교수   일반인
0      1     1    1    1    0
1      1     1    1    1    0
2      0     0    1    1    1
3      0     0    1    1    1
4      1     1    1    1    0
..   ...   ...  ...  ...  ...
246    1     1    1    1    1
247    1     1    1    1    1
248    0     0    0    0    1
249    0     0    0    0    1
250    0     0    1    1    0

[234 rows x 5 columns]

In [338]:
kolok = ee.iloc[:,6:11].reset_index()

In [339]:
df_training2 = pd.concat([df_training,kolok],axis=1)

In [333]:
df_training2.drop('index',axis=1)

,0,1,대학원생,교직원,교수,일반인,합계
0,전자 발명일지 사용자 매뉴얼,우리 학교 전자 발명일지 연구노트 시스템 사용을 위한 사용자 매뉴얼을 공지합니다 첨...,1,1,1,0,4
1,농림 수산 식품 연구개발사업 성과 언론 보도 준수 사항 안내,농림 수산 식품 기술기획평가원에서는 국가연구개발사업의 관리 등에 관한 규정 활용 촉...,1,1,1,0,4
2,한국산학연협회 산학연 협력 사업 평가 위원 후보 등록 안내,산학연 협력 사업 평가 위원 후보 등록 안내 산학연 협력 기술 개발사업의 각종 평가...,0,1,1,1,3
3,한국산학연협회 산학연 협력 사업 평가 위원 후보 등록 안내,산학연 협력 사업 평가 위원 후보 등록 안내 산학연 협력 기술 개발사업의 각종 평가...,0,1,1,1,3
4,국가연구개발사업 학생 인건비 풀링제 적용과 제사업 목록,국가연구개발사업의 인건비 풀링 제 적용 대상 과제 사업 리스트입니다,1,1,1,0,4
...,...,...,...,...,...,...,...
229,학생 인건비 통합기관 학생 인건비 지급 비율 및 부당 회수 비율 알림,학생 인건비 통합 관리기관인 경상 국립대학교 산학협력단의 학생 인건비 지급 비율 및...,1,1,1,1,5
230,경상 국립대학교 산학협력단 학생연구자 지원 규정 제정 알림,국가연구개발사업에 관한 범부처 공통규정으로 국가연구개발 혁신법이 제정되어 시행되었으...,1,1,1,1,5
231,기술 동향 조사 및 특허 맵 작성 수행기관 모집공고,기술 동향 조사 및 특허 맵 작성 수행기관 모집 공고 경상 국립대학교 산학협력단에서...,0,0,0,1,1
232,스마트 공장 사이니지 도입 확산 실증연구 실증 기업 모집,스마트 공장 사이니지 도입 확산 실증연구 실증 기업 모집 공고 중소 뿌리기업 제조 ...,0,0,0,1,1
233,단체교섭 요구 사실의 공고,공고 교섭요구 사실의 공고 전국 대학노동조합으로부터 교섭 요구가 있어 그 사실을 아...,0,1,1,0,2

In [340]:
df_training2.to_excel('sanhak_training.xlsx')

In [36]:
a = pd.read_excel('gigawan_validation_kk.xlsx',index_col=0)
b = pd.read_excel('haksa_validation_kk.xlsx',index_col=0)
c = pd.read_excel('chaeyong_validation_kk.xlsx',index_col=0)
d = pd.read_excel('janghak_validation_kk.xlsx',index_col=0)
e = pd.read_excel('sanhak_training.xlsx',index_col=0)

In [37]:
test = pd.concat([a,b,c,d])

In [38]:
test_df = test[(test[1].isna()==False)]
test_df = test_df[(test_df[0].isna()==False)]

In [39]:
test_df.iloc[:,:-1].to_excel('validation_dt.xlsx')

In [358]:
### 총 900개
test_df

,0,1,대학생,대학원생,교직원,교수,일반인
0,단체협약 체결을 위한 교섭요구 노동조합의 확정 공고,교섭요구 노동조합의 확정 공고 노동조합 및 노동관계조정법 시행령 규정에 따라 교섭요...,0.0,0.0,1.0,1.0,0.0
1,경상대 변경 통학 노선버스 운행시간,통학 노선버스 관련 운행시간 변동 사항 안내 자로 운행하는 통학 노선버스는 기존 운...,1.0,1.0,1.0,0.0,0.0
2,경상대 상반기 퇴직 공무원 정부포상 추천 후보자 공개검증,상반기 퇴직 공무원 포상 추천 후보자에 대해 아래와 같이 공개검증을 실시하오니 의견...,1.0,1.0,1.0,1.0,1.0
3,사회적 창업 아이디어 경진대회 참가자 모집 공고,지자체 대학 협력 기반 지역 혁신사업 경남지역 혁신 플랫폼 스마트 공동체 사업단 사...,1.0,1.0,0.0,0.0,0.0
4,재학생 등록금 납부 안내,재학생 등록금 추가 수납 일정을 아래와 같이 알려드리니 해당 학생들께서는 등록기간 ...,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
229,학생 인건비 통합기관 학생 인건비 지급 비율 및 부당 회수 비율 알림,학생 인건비 통합 관리기관인 경상 국립대학교 산학협력단의 학생 인건비 지급 비율 및...,1.0,1.0,1.0,1.0,1.0
230,경상 국립대학교 산학협력단 학생연구자 지원 규정 제정 알림,국가연구개발사업에 관한 범부처 공통규정으로 국가연구개발 혁신법이 제정되어 시행되었으...,1.0,1.0,1.0,1.0,1.0
231,기술 동향 조사 및 특허 맵 작성 수행기관 모집공고,기술 동향 조사 및 특허 맵 작성 수행기관 모집 공고 경상 국립대학교 산학협력단에서...,0.0,0.0,0.0,0.0,1.0
232,스마트 공장 사이니지 도입 확산 실증연구 실증 기업 모집,스마트 공장 사이니지 도입 확산 실증연구 실증 기업 모집 공고 중소 뿌리기업 제조 ...,0.0,0.0,0.0,0.0,1.0
233,단체교섭 요구 사실의 공고,공고 교섭요구 사실의 공고 전국 대학노동조합으로부터 교섭 요구가 있어 그 사실을 아...,0.0,0.0,1.0,1.0,0.0

### 확인

In [11]:
import pandas as pd
from tqdm.notebook import tqdm

In [3]:
words_df = pd.read_excel('count_words_220105.xlsx',index_col=0)

In [4]:
words_df

,0,1,2,3,4,5,6,7,8,9,...,517,518,519,520,521,522,523,524,525,526
0,교섭,요구,노동조합,확정,공고,노동,조합,노동,관계,조정법,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,통학,노선버스,관련,운행,시간,변동,사항,안내,운행,통학,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,상반기,퇴직,공무원,포상,추천,후보자,대하다,아래,공개,검증,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,지자체,대학,협력,기반,지역,혁신,사업,경남지,혁신,플랫폼,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,재학,등록금,추가,수납,일정,아래,알리다,드리다,해당,학생,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129,학생,인건비,통합,관리기관,국립대학,산학,협력단,학생,인건비,지급,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1130,국가,연구,개발사업,관하다,범부처,공통,규정,국가,연구,개발,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1131,기술,동향,조사,특허,작성,수행,기관,모집,공고,경상,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1132,스마트,공장,사이니,도입,확산,실증,연구,실증,기업,모집,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1133,공고,교섭,요구,사실,공고,전국,대학,노동,조합,교섭,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
test_df = pd.read_excel('sum_train_perfect.xlsx',index_col=0)

In [6]:
test_df.head()

,0,1,대학생,대학원생,교직원,교수,일반인
0,단체협약 체결을 위한 교섭요구 노동조합의 확정 공고,교섭요구 노동조합의 확정 공고 노동조합 및 노동관계조정법 시행령 규정에 따라 교섭요...,0,0,1,1,0
1,경상대 변경 통학 노선버스 운행시간,통학 노선버스 관련 운행시간 변동 사항 안내 자로 운행하는 통학 노선버스는 기존 운...,1,1,1,0,0
2,경상대 상반기 퇴직 공무원 정부포상 추천 후보자 공개검증,상반기 퇴직 공무원 포상 추천 후보자에 대해 아래와 같이 공개검증을 실시하오니 의견...,1,1,1,1,1
3,사회적 창업 아이디어 경진대회 참가자 모집 공고,지자체 대학 협력 기반 지역 혁신사업 경남지역 혁신 플랫폼 스마트 공동체 사업단 사...,1,1,0,0,0
4,재학생 등록금 납부 안내,재학생 등록금 추가 수납 일정을 아래와 같이 알려드리니 해당 학생들께서는 등록기간 ...,1,1,0,0,0

## Multi Label Check

In [7]:
lala = test_df[['대학생','대학원생','교직원','교수','일반인']]
lala

     대학생  대학원생  교직원  교수  일반인
0      0     0    1   1    0
1      1     1    1   0    0
2      1     1    1   1    1
3      1     1    0   0    0
4      1     1    0   0    0
..   ...   ...  ...  ..  ...
229    1     1    1   1    1
230    1     1    1   1    1
231    0     0    0   0    1
232    0     0    0   0    1
233    0     0    1   1    0

[1134 rows x 5 columns]

In [8]:
from itertools import combinations

In [9]:
print(list(combinations(['대학생','대학원생','교직원','교수','일반인'],1)))
print(list(combinations(['대학생','대학원생','교직원','교수','일반인'],2)))
print(list(combinations(['대학생','대학원생','교직원','교수','일반인'],3)))
print(list(combinations(['대학생','대학원생','교직원','교수','일반인'],4)))
print(list(combinations(['대학생','대학원생','교직원','교수','일반인'],5)))

[('대학생',), ('대학원생',), ('교직원',), ('교수',), ('일반인',)]
[('대학생', '대학원생'), ('대학생', '교직원'), ('대학생', '교수'), ('대학생', '일반인'), ('대학원생', '교직원'), ('대학원생', '교수'), ('대학원생', '일반인'), ('교직원', '교수'), ('교직원', '일반인'), ('교수', '일반인')]
[('대학생', '대학원생', '교직원'), ('대학생', '대학원생', '교수'), ('대학생', '대학원생', '일반인'), ('대학생', '교직원', '교수'), ('대학생', '교직원', '일반인'), ('대학생', '교수', '일반인'), ('대학원생', '교직원', '교수'), ('대학원생', '교직원', '일반인'), ('대학원생', '교수', '일반인'), ('교직원', '교수', '일반인')]
[('대학생', '대학원생', '교직원', '교수'), ('대학생', '대학원생', '교직원', '일반인'), ('대학생', '대학원생', '교수', '일반인'), ('대학생', '교직원', '교수', '일반인'), ('대학원생', '교직원', '교수', '일반인')]
[('대학생', '대학원생', '교직원', '교수', '일반인')]

In [12]:
lst2 = []
for i in tqdm(range(lala.shape[0])):
    lst=[]
    if lala.iloc[i,0] == 1:
        lst.append('대학생')
    if lala.iloc[i,1] == 1:
        lst.append('대학원생')
    if lala.iloc[i,2] == 1:
        lst.append('교직원')
    if lala.iloc[i,3] == 1:
        lst.append('교수')
    if lala.iloc[i,4] == 1:
        lst.append('일반인')
    lst2.append(lst)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=1134.0), HTML(value='')))

In [13]:
lst3 = []
for i in lst2:
    lst3.append(str(i))

In [14]:
set(lst3)

{"['교수']",
 "['교직원', '교수', '일반인']",
 "['교직원', '교수']",
 "['교직원', '일반인']",
 "['교직원']",
 "['대학생', '대학원생', '교직원', '교수', '일반인']",
 "['대학생', '대학원생', '교직원', '교수']",
 "['대학생', '대학원생', '교직원', '일반인']",
 "['대학생', '대학원생', '교직원']",
 "['대학생', '대학원생', '일반인']",
 "['대학생', '대학원생']",
 "['대학생', '일반인']",
 "['대학생']",
 "['대학원생', '교직원', '교수', '일반인']",
 "['대학원생', '교직원', '일반인']",
 "['대학원생']",
 "['일반인']"}

In [15]:
## 12label이 삭제되었다.
lst4 = []
for i in lst3:
    if i == "['대학생']":
        lst4.append(0)
    if i == "['대학원생']":
        lst4.append(1)
    if i == "['일반인']":
        lst4.append(2)
    if i == "['교수']":
        lst4.append(3)
    if i == "['교직원']":
        lst4.append(4)
    if i == "['교직원', '교수']":
        lst4.append(5)
    if i == "['교직원', '일반인']":
        lst4.append(6)
    if i == "['대학생', '대학원생']":
        lst4.append(7)
    if i == "['대학생', '일반인']":
        lst4.append(8)
    if i == "['교직원', '교수', '일반인']":
        lst4.append(9)
    if i == "['대학생', '대학원생', '교직원']":
        lst4.append(10)
    if i == "['대학생', '대학원생', '일반인']":
        lst4.append(11)
    if i == "['대학원생', '교직원', '일반인']":
        lst4.append(12)
    if i == "['대학생', '대학원생', '교직원', '교수']":
        lst4.append(13)
    if i == "['대학생', '대학원생', '교직원', '일반인']":
        lst4.append(14)
    if i == "['대학원생', '교직원', '교수', '일반인']":
        lst4.append(15)
    if i == "['대학생', '대학원생', '교직원', '교수', '일반인']":
        lst4.append(16)

In [16]:
words_df = pd.concat([words_df,pd.DataFrame(lst4,columns=['label'])],axis=1)

In [17]:
words_df

,0,1,2,3,4,5,6,7,8,9,...,518,519,520,521,522,523,524,525,526,label
0,교섭,요구,노동조합,확정,공고,노동,조합,노동,관계,조정법,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1,통학,노선버스,관련,운행,시간,변동,사항,안내,운행,통학,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
2,상반기,퇴직,공무원,포상,추천,후보자,대하다,아래,공개,검증,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
3,지자체,대학,협력,기반,지역,혁신,사업,경남지,혁신,플랫폼,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
4,재학,등록금,추가,수납,일정,아래,알리다,드리다,해당,학생,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129,학생,인건비,통합,관리기관,국립대학,산학,협력단,학생,인건비,지급,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
1130,국가,연구,개발사업,관하다,범부처,공통,규정,국가,연구,개발,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
1131,기술,동향,조사,특허,작성,수행,기관,모집,공고,경상,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1132,스마트,공장,사이니,도입,확산,실증,연구,실증,기업,모집,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1133,공고,교섭,요구,사실,공고,전국,대학,노동,조합,교섭,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [18]:
words_df.to_excel('용진이한테줄거1.xlsx')

In [19]:
lst2 = []
for j in range(17):
    lst = []
    plpl = words_df[words_df.label==j]
    for i in range(words_df[words_df.label==j].shape[0]):
        ppp = plpl.iloc[i,:527]
        lst.extend(list(ppp[ppp.isna()==False]))
    lst2.append(lst)

In [20]:
aaaaa = pd.DataFrame(lst2)

In [21]:
aaaaa.T.to_excel('용진이거2.xlsx')

In [26]:
import numpy as np
np.where(np.array(test_df.index)==0)

(array([  0, 399, 520, 792, 900], dtype=int64),)

In [55]:
print(test_df.iloc[:399,2:].shape[0])
print(test_df.iloc[:399,2:].sum())
np.sum(np.sum(test_df.iloc[:399,2:],axis=1)>1)

399
대학생     354
대학원생    297
교직원      86
교수       75
일반인     181
dtype: int64

315

In [57]:
print(test_df.iloc[399:520,2:].shape[0])
print(test_df.iloc[399:520,2:].sum())
np.sum(np.sum(test_df.iloc[399:520,2:],axis=1)>1)

121
대학생     121
대학원생     20
교직원       4
교수        4
일반인       1
dtype: int64

20

In [58]:
print(test_df.iloc[520:792,2:].shape[0])
print(test_df.iloc[520:792,2:].sum())
np.sum(np.sum(test_df.iloc[520:792,2:],axis=1)>1)

272
대학생       0
대학원생      0
교직원       0
교수        0
일반인     272
dtype: int64

0

In [59]:
print(test_df.iloc[792:900,2:].shape[0])
print(test_df.iloc[792:900,2:].sum())
np.sum(np.sum(test_df.iloc[792:900,2:],axis=1)>1)

108
대학생     108
대학원생      3
교직원       0
교수        0
일반인       0
dtype: int64

3

In [60]:
print(test_df.iloc[900:,2:].shape[0])
print(test_df.iloc[900:,2:].sum())
np.sum(np.sum(test_df.iloc[900:,2:],axis=1)>1)

234
대학생      91
대학원생     92
교직원     124
교수      121
일반인     145
dtype: int64

132

In [289]:
ppp = words_df[words_df.label==0].iloc[0,:537]

In [290]:
ppp[ppp.isna()==False]

0        대학
1       청소년
2        교육
3        지원
4        사업
       ...
128      한국
129      장학
130      재단
131    홈페이지
132      신청
Name: 5, Length: 133, dtype: object